USE [master]
GO
/****** Object:  Database [suxpub]    Script Date: 11. 9. 2014 15:31:44 ******/
CREATE DATABASE [suxpub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'suxpub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\suxpub.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'suxpub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\suxpub_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [suxpub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [suxpub]
GO
/****** Object:  Table [dbo].[Atrakce]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atrakce](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nazev] [nvarchar](50) NULL,
	[smazano] [int] NOT NULL CONSTRAINT [DF_Atrakce_smazano]  DEFAULT ((0)),
 CONSTRAINT [PK_Atrakce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AtrakceCon]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtrakceCon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[atrakceId] [int] NOT NULL,
	[pubId] [int] NOT NULL,
	[poznamka] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lokace]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nazev] [nvarchar](50) NULL,
	[smazano] [int] NOT NULL CONSTRAINT [DF_Lokace_smazano]  DEFAULT ((0)),
 CONSTRAINT [PK_Lokace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Piva]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nazev] [nvarchar](50) NULL,
	[smazano] [int] NOT NULL CONSTRAINT [DF_Piva_smazano]  DEFAULT ((0)),
 CONSTRAINT [PK_Piva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PivaCon]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PivaCon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pubId] [int] NOT NULL,
	[pivoId] [int] NOT NULL,
	[cena] [decimal](6, 2) NULL,
 CONSTRAINT [PK_PivaCon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pub]    Script Date: 11. 9. 2014 15:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nazev] [nvarchar](50) NULL,
	[adresa] [nvarchar](50) NULL,
	[prostornost] [nvarchar](50) NULL,
	[lokace] [int] NULL,
	[hodnoceni] [int] NULL,
	[obsluha] [nvarchar](50) NULL,
	[poznamka] [nvarchar](max) NULL,
	[navstevnici] [nvarchar](max) NULL,
	[prostredi] [int] NULL,
	[gpsN] [decimal](10, 7) NULL,
	[gpsE] [decimal](10, 7) NULL,
	[datumPridani] [datetime] NULL CONSTRAINT [DF_Pub_datumPridani]  DEFAULT (getdate()),
	[smazano] [int] NULL CONSTRAINT [DF_Pub_smazano]  DEFAULT ((0)),
	[odUzivatele] [int] NULL,
 CONSTRAINT [PK_Pub] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Atrakce] ON 

INSERT [dbo].[Atrakce] ([Id], [nazev], [smazano]) VALUES (1, N'Billiárd (díry)', 0)
INSERT [dbo].[Atrakce] ([Id], [nazev], [smazano]) VALUES (2, N'Šipky', 0)
INSERT [dbo].[Atrakce] ([Id], [nazev], [smazano]) VALUES (3, N'Automaty', 0)
SET IDENTITY_INSERT [dbo].[Atrakce] OFF
SET IDENTITY_INSERT [dbo].[AtrakceCon] ON 

INSERT [dbo].[AtrakceCon] ([Id], [atrakceId], [pubId], [poznamka]) VALUES (3, 2, 9, NULL)
INSERT [dbo].[AtrakceCon] ([Id], [atrakceId], [pubId], [poznamka]) VALUES (4, 2, 10, NULL)
INSERT [dbo].[AtrakceCon] ([Id], [atrakceId], [pubId], [poznamka]) VALUES (5, 3, 9, NULL)
SET IDENTITY_INSERT [dbo].[AtrakceCon] OFF
SET IDENTITY_INSERT [dbo].[Lokace] ON 

INSERT [dbo].[Lokace] ([Id], [nazev], [smazano]) VALUES (1, N'Centrum', 0)
INSERT [dbo].[Lokace] ([Id], [nazev], [smazano]) VALUES (2, N'Svárov', 0)
INSERT [dbo].[Lokace] ([Id], [nazev], [smazano]) VALUES (1003, N'Sever', 0)
SET IDENTITY_INSERT [dbo].[Lokace] OFF
SET IDENTITY_INSERT [dbo].[Piva] ON 

INSERT [dbo].[Piva] ([Id], [nazev], [smazano]) VALUES (1, N'Svijany', 0)
INSERT [dbo].[Piva] ([Id], [nazev], [smazano]) VALUES (2, N'Plzeň', 0)
INSERT [dbo].[Piva] ([Id], [nazev], [smazano]) VALUES (3, N'Podkováň', 0)
SET IDENTITY_INSERT [dbo].[Piva] OFF
SET IDENTITY_INSERT [dbo].[PivaCon] ON 

INSERT [dbo].[PivaCon] ([Id], [pubId], [pivoId], [cena]) VALUES (11, 8, 7, CAST(0.00 AS Decimal(6, 2)))
INSERT [dbo].[PivaCon] ([Id], [pubId], [pivoId], [cena]) VALUES (15, 11, 11, CAST(25.00 AS Decimal(6, 2)))
INSERT [dbo].[PivaCon] ([Id], [pubId], [pivoId], [cena]) VALUES (16, 8, 6, CAST(22.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[PivaCon] OFF
SET IDENTITY_INSERT [dbo].[Pub] ON 

INSERT [dbo].[Pub] ([Id], [nazev], [adresa], [prostornost], [lokace], [hodnoceni], [obsluha], [poznamka], [navstevnici], [prostredi], [gpsN], [gpsE], [datumPridani], [smazano], [odUzivatele]) VALUES (8, N'U dědka', N'Roháče z Dubé', N'Prostorné', 1, 3, N'4', N'Místo kam jít na kulečník', N'Ranní nasávači, automatovci', 2, CAST(50.6884867 AS Decimal(10, 7)), CAST(14.5361225 AS Decimal(10, 7)), NULL, 0, 0)
INSERT [dbo].[Pub] ([Id], [nazev], [adresa], [prostornost], [lokace], [hodnoceni], [obsluha], [poznamka], [navstevnici], [prostredi], [gpsN], [gpsE], [datumPridani], [smazano], [odUzivatele]) VALUES (11, N'Little Saigon', N'U Synagogy 3001 47001 Česká Lípa', N'Normální', 1, 3, N'4', N'Super na jídlo', N'Střední třída', 3, CAST(50.6849406 AS Decimal(10, 7)), CAST(14.5410411 AS Decimal(10, 7)), NULL, 0, 0)
INSERT [dbo].[Pub] ([Id], [nazev], [adresa], [prostornost], [lokace], [hodnoceni], [obsluha], [poznamka], [navstevnici], [prostredi], [gpsN], [gpsE], [datumPridani], [smazano], [odUzivatele]) VALUES (12, N'Hospůdka u Viťulína (Lékárna)', N'U Rybníčku 1130/5', N'Normální', 2, 3, N'4', NULL, N'Cykliste a ranni nasavaci', 2, NULL, NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Pub] OFF
ALTER TABLE [dbo].[Pub]  WITH CHECK ADD  CONSTRAINT [FK_Pub_Lokace] FOREIGN KEY([lokace])
REFERENCES [dbo].[Lokace] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pub] CHECK CONSTRAINT [FK_Pub_Lokace]
GO
USE [master]
GO
