<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SuxPubConnectionString" connectionString="Server=(localdb)\v11.0;Integrated Security=true;Database=suxpub;"
      providerName="System.Data.SqlClient" />-->

    <!--<add name="SuxPubConnectionString" connectionString="server=sql2.aspone.cz;uid=db5546;pwd=advanced;database=db5546;Connection Timeout=5"
      providerName="System.Data.SqlClient" />-->
    
    <add name="SuxPubConnectionString" connectionString="Server=Ali-PC\SQLEXPRESS; Database=suxpub; Trusted_Connection=True; Connection Timeout=5"
         providerName="System.Data.SqlClient"/>
    
    <!--<add name="SuxPubConnectionString" connectionString="workstation id=StojTime.mssql.somee.com;packet size=4096;user id=alifuk_SQLLogin_1;pwd=vkz3qu1lrh;data source=StojTime.mssql.somee.com;persist security info=False;initial catalog=StojTime; Connection Timeout=5"
          providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Main.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
